export const URL_BASE = "http://localhost:8001";
export const URL_LOGIN = "/account/v1/login/";
export const URL_AUTH_USER = "/account/v1/user/";

export const URL_LIST_PRODUCTS = "/pos/v1/products/";
export const URL_LIST_PAYMENT_METHODS =
  "/pos/v1/payment_methods/";
export const URL_LIST_CATEGORIES = "/pos/v1/categories/";
export const URL_GET_SCALE_WEIGHT = "/scale/v1/weight/";
export const URL_CREATE_SELL = "/pos/v1/sell/";

export const URL_SUMMARY_SALES_TODAY = "/pos/v1/summary/sales/today/";
export const URL_CASH_CONTROL_TODAY = "/pos/v1/cash/control/today/";

export const FRONT_AFTER_LOGIN = "/pos/shopping-cart/";
export const FRONT_REDIRECT_UNAUTHORIZED = "/login/";
